.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  background-color: white;
  border-radius: 3%;
  padding: 16px;
  position: absolute;
  top: 96px;
  left: calc(40%);
  min-height: 500px;
  width: 400px;
  z-index: 2;
}
